/*table*/
.main{
	display: grid;
	justify-content: center;
	padding: 30px;
}
.main table{
	margin: 10px auto;
}
.main table, th, td {

    text-align: left;
    table-layout: fixed;
    padding: 8px 30px;
    width: 50%;
}
.main th{
	color: #3d2081;
}

.main tr:hover {
    background-color: #b1b1b1c4;
}

th, td {
    border-bottom: 1px solid #ddd;
}
button {
    background-color: #a983c2; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
.button{
    text-align: center;
}